#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    background-color: #e4a4ec;
}

#login .form {
    background-color: #ffffff;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}

#login .field{
    padding-bottom: 0.5rem;
    
}

#login .field label{
    display: block;
}

#login .field input{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}

#login img{
    /* max-width:800px; */
    max-height:300px;
    width: auto;
    height: auto;
}