.principal {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    background-image: linear-gradient( to right, rgb(241, 226, 245), transparent, rgb(168, 100, 185) );
    /* background-color: #e4a4ec; */
}       
/* 
#login .form {
    background-color: #ffffff;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}

#login .field{
    padding-bottom: 0.5rem;
    
}

#login .field label{
    display: block;
}

#login .field input{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
} */

.hygya-logo{
    /* max-width:800px; */
    max-height: 200px;
    width: auto;
    height: auto;
    display: flex;
}